@media (min-width: 0px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  p {
    font-size: 30px;
  }
  .boottomMenu p  {
    font-size: 20px;
  }
  h1 {
    font-size: 70px;
  }
  .bold {
    font-weight: bold;
  }
  .App {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  .App::before {
    position: absolute;
    content: "";
    background: url(../public/img/default.jpg) no-repeat center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .container {
    position: relative;
    top: 7%;
    display: flex;  

    flex-direction: column;
    justify-content: space-between;
    max-width: 700px;
    height: 700px;
    margin: auto;
    padding: 0 1rem;
    
  }
  .App .topMenu {
    width: 100%;
    margin: 1.2rem auto;
  }
  .App .desc {
    position: relative;
    right: -90%;
    transform-origin: 0 0;
    transform: rotate(269deg);
  }
  .App .search {
    text-align: center;
    padding: 1rem;
    height: 80px;
  }
  .App input {
    background: rgba(255, 255, 255, 0.1);
    font-size: 22px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 0.6rem 1.5rem;
    border-radius: 30px;


  }
  ::placeholder {
    color: ghostwhite;
  }
  .App .boottomMenu {
    width: 100%;
    display: flex;
    background-color: rgba(255,255,255, 0.25);
    justify-content: space-evenly;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 12px;
    font-size: 15px;
  }
}
@media (min-width: 1000px) {
  .container {
    max-width: 100vw;
    height: 100vh ;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
  }
  .App .desc {
    position: relative;
    right: 0%;
    transform-origin: 0 0;
    transform: rotate(0);
    text-align: center;
  }

  .App .boottomMenu {
    width: 70%;
    position: relative;
    bottom: 20%;
  }

  .location,
  .celcius {
    text-align: center;
  }
  h1 {
    font-size: 100px;
  }
  .City {
    font-size: 50px;
  }
  p {
    font-size: 30px;
  }
}
